<h1><%= @user.name %></h1>

<% if @user != current_user %>
  <h3><%= toogle_follow_link(@user) %></h3>
<% end %>

<div><%= followers_link(@user) + ' | ' + followees_link(@user) %></div>

<div>
  <h3><%= t('posts_list') %></h3>
  <% if @user == current_user%>
    <%= render 'posts/new' %>
  <% end %>
  <table id = 'posts_table'>
    <%= render @posts %>
  </table>
</div>
